
#resume-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    width: 100%;
}

#resume-footer {
    padding: 20px;
    text-align: center;
}

.border-bottom-gray {
    padding-bottom: 10px;
    border-bottom: solid 1px darkgray;
}

.work-position {
    margin-bottom: 40px;
}

.project {
    margin-bottom: 40px;
}